.calculator-grid {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

.calculator-grid .colspan[data-colspan="2"] {
  grid-column: span 2;
}
.calculator-grid .colspan[data-colspan="3"] {
  grid-column: span 3;
}

.calculator-grid > button:hover,
.calculator-grid > button:focus {
  background-color: rgba(255, 255, 255, 0.5);
}

.calculator-grid .output {
  grid-column: 1 / -1;
}
